:root{
    --black: rgb(22, 25, 26);
    --yellow: rgb(207, 255, 75);
    --white: #f3f6f6ff;
    --cyan: #adf5ffff;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--black);
    color: var(--cyan);
}

.container {
    margin: 5px;
}

.upper {
    display: flex;
    justify-content: center;
}

.capture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.capture video {
    margin-bottom: 10px;
}

.capture button {
    width: 150px;
    height: 41px;
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    border-radius: 4px;
    color: var(--black);
    font-weight: 900;
    cursor: pointer;
    outline: none;
}

.capture button:hover {
    background-color: var(--black);
    color: var(--yellow);
}

.results {
    margin-top: 40px;
}

.dropdown {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    flex-basis: 2rem;
    font-size: 2rem;
    max-height: 2rem;
}

.goal{
    margin: 0;
    font-size: 2.5rem;
    color: var(--yellow)
}

.reps{
    height: max-content;
    min-height: 3.75rem;
    font-size: 2rem;
    width: fit-content;
    max-width: 12vw;
    margin: 0;
}

.Dropdown-control{
min-width: 20vw;
}